//HOME INTRO
.homeIntroWrap{
   position: relative;
   .homeIntro{
      &__h{
         @include H1;
      }

      &__p{
         @include P2;
         text-align: center;
         max-width: 850px;
         margin: auto;
         margin-bottom: 30px;
      }

      &__price{
         @include F2300;
         font-size: 1.125rem;
         line-height: 1.8rem;
         color: $blk;
         text-align: center;

         span{
            font-size: 2rem;
         }
      }
   }
}


//KEY FEATURES
.keyFeaturesWrap{

   .featuresHeading{
      @include H1;
   }

   .features{
      padding-top: 0.7rem;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 11.5px;

      dt{
         @include P1;
         color: $blk;
         letter-spacing: 0.05em;
         text-transform: uppercase;
        // padding-top: 0.4rem;
      }

      dd{
         @include P1;
         color: $blk;
      }
   }

   .featuresList{
      @include list1;
   }
   
}


// HOME PAGE QUOTE
.homeQuoteWrap{
   min-height: 440px;
   display: grid;
   align-items: center !important;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-image: linear-gradient(0deg, rgba(45, 45, 45, 0.9), rgba(45, 45, 45, 0.9)),
                     url('../img/backgrounds/water.png');


   .homeQuote{
      &__h{
         @include H1;
         color: $wh;
      }

      &__p{
         @include P2;
         color: $wh;
         text-align: center;
         max-width: 950px;
         margin: auto;
      }
   }
}


//MORE DETAILS
.moreDetailsWrap{
   .moreDetails{
      h1{
         @include H1;
      }
      p{
         @include P1;
         max-width: 900px;
         margin: auto;
         text-align: center;
      }
   }
}

