.imageSlider{
   display: grid;
   grid-template-columns: 1fr max-content 1fr;
   grid-template-rows: max-content;
   align-items: center;

   .imageSliderArrow {
      font-size: 25px;
      color: $blk;
      transition: all 0.4s ease;
      cursor: pointer;

      &:hover{
         color: $teal;
      }

      &--next{
         grid-column: 3 / span 1;
         grid-row: 1 / span 1;
         padding-left: 15px;
      }

      &--prev{
         grid-column: 1 / span 1;
         grid-row: 1 / span 1;
         justify-self: end;

         padding-right: 20px;
      }
   }
   
   .imageSliderTrack{
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      @include bootstrap-container-width;
      overflow: hidden;
   }

   .imageSliderAllSlides{
      width: fit-content;
      display: flex;
      flex-wrap: nowrap;
   }

   .imageSliderSlide{
      @include bootstrap-container-width;
      @include Flex2;
      height: 500px;
      img{
         display: block;
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}

@media screen and (max-width: 1069px){
   .imageSlider{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: max-content max-content;
      grid-column-gap: 20px;
      grid-row-gap: 20px;

      .imageSliderArrow {

         &--next{
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
         
         }
   
         &--prev{
            grid-column: 1 / span 1;
            grid-row: 2 / span 1;
         }
      }
      
      .imageSliderTrack{
         grid-column: 1 / span 2;
         grid-row: 1 / span 1;
         justify-self: center;
      }
   }
}

